ENV_PARAMETERS:
  num_frames: 2
  num_agent: 4
  ep_length: 400
  num_envs: 4
  num_cpus: 4
  map: 'MEDIUM2_HARVEST_MAP'
  agent_view_range: 7

RL_PARAMETERS:
  learner: "dqn"
  spawn_speed: "fast"
  learning_rate: 0.0005
  batch_size: 128
  tau: 0.035
  gamma: 0.99
  train_freq: 4
  exploration_fraction: 0.15
  learning_starts: 50_000
  buffer_size: 300
  exploration_final_eps: 0.03
  # policy: CnnPolicy
  policy: MlpPolicy
  render_frequency: 50
  features_dim: 128  # output layer of cnn extractor AND shared layer for policy and value functions

EXPERIMENT_PARAMETERS:
  gpu_id: 1
  run_name_template: "{experiment}-{metric}-{spawn_speed}-{num_agents}_agents"
  penalty: True
  metric: "Efficiency"
  independent: False
  experiment: "nrp"
  debug: False
  n_episodes: 8_000